<form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit">Search</button>
</form>
<!-- Контейнер який буде містити галерею карток -->
<div class="gallery">
  <!-- Картки зображень -->
</div>
<!-- Шаблон розмітки картки одного зображення для галереї. -->
<!-- <div class="photo-card">
  <img src="" alt="" loading="lazy" />
  <div class="info">
    <p class="info-item">
      <b>Likes</b>
    </p>
    <p class="info-item">
      <b>Views</b>
    </p>
    <p class="info-item">
      <b>Comments</b>
    </p>
    <p class="info-item">
      <b>Downloads</b>
    </p>
  </div>
</div> -->
<!-- Кнопка для завантаження більшої кількості результатів пошуку -->
<button type="button" class="load-more">Load more</button>
